
<p>新規ユーザ登録</p>


<%= form_for @account, url:{action: :createAccount} do |f| %>

	<%= f.label :name, 'ユーザ名' %>
	<br>
	<%= f.text_field :name, size: 20 %>
	<br>
	<%= f.label :pass, 'パスワード' %>
	<br>
	<%= f.password_field :pass, size: 20 %>
	<br>
	<%= label_tag :passwdConfirm, 'もう一度パスワードを入力してください' %>
	<br>
	<%= password_field_tag :passwdConfirm, "", size: 20 %>

	<!-- ログイン後のリダイレクトすべきアクションを書くフィールドにセット -->
	<%= hidden_field_tag :referer, flash[:referer] %>
	<br>
	<%= f.submit '新規登録' %>

<p><h1>パスワードは暗号化されていません</h1></p>

<% end %>


